---
layout: default
---


    

<div class="home">
  <!-- particles.js container -->
  <div id="particles-js"></div>
  
  <!-- scripts -->
  <script src="assets/js/app/particles.js"></script>
  <script src="js/app.js"></script>

  
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
    </li>
    {% endfor %}
  </ul>
  
  <br/>
  
<h2 class="page-heading">Other Site Info</h2>   
<ul>
    <li><a href="projects.html" target="_self"><b>Projects Page here</b></a></li>
    <li><a href="requests.html" target="_self"><b>Automated Request Page</b></a></li>
</ul>
  
    <br/>
    <br/>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>