<h1 class"page-heading"><font color="green"></font>Projects</h1>

<p><font color="black">This page points to available projects</p>
<br/>

<ul>
<li><a href="https://gitlab.com/dbharbin/questions-and-answers">Questions and Answers!</a></li>
<li><a href="https://gitlab.com/dbharbin/OpenCV-color-tracking-demo">OpenCV Demo!</a></li>
</ul>
<br/>

<body text="green">
  <p><a href="https://gitlab.com/dbharbin/questions-and-answers">Questions and Answers!</a></p>
  <p><a href="https://gitlab.com/dbharbin/OpenCV-color-tracking-demo">OpenCV Demo!</a></p>
</body>



