<h1 class"page-heading"><font color="green"></font>Automated Service Requests</h1>

<p><font color="black">This page sketches out potential Service Requests</p>
<br/>


<h2 class"page-heading"><font color="green"></font>Service Requests</h2>

<ul>
<li><a href="https://dev-servicedesk.linaro.org/servicedesk/customer/portal/18/create/277">Resister User</a></li>
<li>Remove User<li>
<li>Add users to group</li>
<li><a href="https://dev-servicedesk.linaro.org/servicedesk/customer/portal/18/create/278">Request userIRC proxy<a/><li>
<li><a href="https://dev-servicedesk.linaro.org/servicedesk/customer/portal/18/create/282">Set Project Visibility</a></li>
<li><a href="https://dev-servicedesk.linaro.org/servicedesk/customer/portal/18/create/279">Add Project</a></li>
<li><a href="https://dev-servicedesk.linaro.org/servicedesk/customer/portal/18/create/281"></a>Remove Project<a/></li>
</ul>

<br/>


